In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load
file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file)

## Player Count

In [2]:
# Variable for Total Players is length of list of screen names under column SN
total_players = len(purchase_data["SN"].value_counts())

# Data Frame for total players is created to named player count
player_count = pd.DataFrame({"Total Players": [total_players]})

# Print final Data Frame
player_count

   Total Players
0            576

## Purchasing Analysis (Total)

In [3]:
# Calculations for Unique Items, Average Price, Number of Purchases, and Total Revenue
number_of_unique_items = len((purchase_data["Item ID"]).value_counts())
average_price = (purchase_data["Price"]).mean()
number_of_purchases = (purchase_data["Purchase ID"]).count()
total_revenue = (purchase_data["Price"]).sum()

# Create Data Frame
purchasing_analysis = pd.DataFrame({"Number of Unique Items": [number_of_unique_items],
                                    "Average Price": [average_price], 
                                    "Number of Purchases": [number_of_purchases], 
                                    "Total Revenue": [total_revenue]})

# Format Data Frame for currency
purchasing_analysis["Average Price"] = purchasing_analysis["Average Price"].map("${:,.2f}".format)                         
purchasing_analysis["Total Revenue"] = purchasing_analysis["Total Revenue"].map("${:,.2f}".format)

#Print final Data Frame
purchasing_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

In [4]:
# Group data by Gender and filter out duplicates under variable Gender Stats
gender_stats = purchase_data.drop_duplicates(subset="SN", keep="first")

# Calculate Total Gender
total_gender = gender_stats["Gender"].value_counts()

# Calculate Gender Demo Percentage
gender_demographics_percentage=(total_gender/total_players) * 100

# Create Data Frame
gender_demographics = pd.DataFrame({"Total Count": total_gender,
                                    "Percentage of Players": gender_demographics_percentage})

# Format Data Frame for percentage
gender_demographics["Percentage of Players"] = gender_demographics["Percentage of Players"].map("{:.2f}%".format)

# Print final Data Frame
gender_demographics

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

## Purchasing Analysis (Gender)

In [5]:
# Create Total Purchase Value Total, Average Price, and Purchase Count grouped by Gender
gender_purchase_total=purchase_data.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")
gender_average=purchase_data.groupby(["Gender"]).mean()["Price"].rename("Average Purchase Price")
gender_count=purchase_data.groupby(["Gender"]).count()["Price"].rename("Purchase Count")

# Calculation for Avg Total Purchase per Person
avg_total=gender_purchase_total/gender_demographics["Total Count"]

# Create Data Frame
purchasing_analysis_gender=pd.DataFrame({"Purchase Count":gender_count,
                                         "Average Purchase Price":gender_average,
                                         "Total Purchase Value":gender_purchase_total,
                                         "Avg Total Purchase per Person":avg_total})

# Format Data Frame for currency
purchasing_analysis_gender["Average Purchase Price"]=purchasing_analysis_gender["Average Purchase Price"].map("${:,.2f}".format)
purchasing_analysis_gender["Total Purchase Value"]=purchasing_analysis_gender["Total Purchase Value"].map("${:,.2f}".format)
purchasing_analysis_gender["Purchase Count"]=purchasing_analysis_gender["Purchase Count"].map("{:,}".format)
purchasing_analysis_gender["Avg Total Purchase per Person"]=purchasing_analysis_gender["Avg Total Purchase per Person"].map("${:,.2f}".format)
purchasing_analysis_gender=purchasing_analysis_gender.loc[:,["Purchase Count","Average Purchase Price","Total Purchase Value","Avg Total Purchase per Person"]]

# Print final Data Frame
purchasing_analysis_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

In [6]:
# Create bins and bin labels for data
bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
bin_labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

# Group data by Age Groups in bins
purchase_data["Age Groups"] = pd.cut(purchase_data["Age"], bins, labels=bin_labels)
age_group = purchase_data.groupby(["Age Groups"])

# Calculations for Total Count and Percentage of Players
total_count = age_group["SN"].nunique()
bin_percentage = (total_count / total_players) * 100

# Create Data Frame
age_demographics = pd.DataFrame({"Total Count": total_count,
                               "Percentage of Players": bin_percentage})

# Format Data Frame for percentage and remove title
age_demographics["Percentage of Players"] = age_demographics["Percentage of Players"].map("{:.2f}%".format)
age_demographics = age_demographics.rename_axis(None)

# Print final Data Frame
age_demographics

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

In [7]:
# Calclulations for Purchase Count, Average Purchase Price, Total Purchase Volume, Avg Total Purchase per Person
# note: age_group uses groupby and was cut from purchase_data (check Age Demographics)
purchase_count = age_group["Age"].count()
avg_purchase = age_group["Price"].mean()
total_purchase_value = age_group["Price"].sum()
avg_purchase_person =(age_group["Price"].sum()/total_count)

# Create Data Frame
purchase_analysis_age = pd.DataFrame({"Purchase Count": purchase_count,
                                      "Average Purchase Price": avg_purchase,
                                      "Total Purchase Value": total_purchase_value,
                                      "Average Purchase Total per Person": avg_purchase_person})

# Format Data Frame for currency and rename title
purchase_analysis_age["Average Purchase Price"] = purchase_analysis_age["Average Purchase Price"].map("${:.2f}".format)
purchase_analysis_age["Total Purchase Value"]  = purchase_analysis_age["Total Purchase Value"].map("${:,.2f}".format)
purchase_analysis_age["Average Purchase Total per Person"] = purchase_analysis_age["Average Purchase Total per Person"].map("${:.2f}".format)
purchase_analysis_age = purchase_analysis_age.rename_axis("Age Ranges")

# Print final Data Frame
purchase_analysis_age

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

In [8]:
# Group by SN
sn_group = purchase_data.groupby("SN")

# Calclulations for Purchase Count, Average Purchase Price, Total Purchase Volume, Avg Total Purchase per Person
purchase_count_sn = sn_group["Age"].count()
avg_purchase_sn = sn_group["Price"].mean()
total_purchase_value_sn = sn_group["Price"].sum()

# Create Data Frame
top_spenders = pd.DataFrame({"Purchase count": purchase_count_sn,
                             "Average Purchase Price": avg_purchase_sn,
                             "Total Purchase value": total_purchase_value_sn})

# Sort the Total Purchase Value column in descending order 
top_spenders = top_spenders.sort_values("Total Purchase value", ascending = False)

# Format Data Frame for currency
top_spenders["Average Purchase Price"] = top_spenders["Average Purchase Price"].map("${:.2f}".format)
top_spenders["Total Purchase value"]  = top_spenders["Total Purchase value"].map("${:,.2f}".format)

# Print final Data Frame
top_spenders.head()

             Purchase count Average Purchase Price Total Purchase value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

In [9]:
# Retrieve the Item ID, Item Name, and Item Price columns  
popular_df = purchase_data.loc[:,["Item ID","Item Name","Price"]]

# Group data by Item ID and Item Name 
popular_grouped = purchase_data.groupby(["Item ID","Item Name"])

# Calclulations for Purchase Count, Average Purchase Price, Total Purchase Volume, Avg Total Purchase per Person
purchase_count_pop = popular_grouped["Age"].count()
avg_purchase_pop = popular_grouped["Price"].mean()
total_purchase_value_pop = popular_grouped["Price"].sum()

# Create DataFrame 
most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_pop,
                                   "Item Price": avg_purchase_pop,
                                   "Total Purchase Value": total_purchase_value_pop})

# Sort the Total Purchase Value column in descending order 
most_popular_items = most_popular_items.sort_values("Purchase Count", ascending = False)

# Format Data Frame for currency
most_popular_items["Total Purchase Value"]  = most_popular_items["Total Purchase Value"].map("${:,.2f}".format)
most_popular_items["Item Price"] = most_popular_items["Item Price"].map("${:.2f}".format)


# Print final Data Frame
most_popular_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

In [10]:
# Group data by Item ID and Item Name
profit_df = purchase_data.groupby(["Item ID","Item Name"])

# Calclulations for Purchase Count, Average Purchase Price, Total Purchase Volume, Avg Total Purchase per Person
purchase_count_profit = profit_df["Age"].count()
avg_purchase_profit = profit_df["Price"].mean()
total_purchase_value_profit = profit_df["Price"].sum()

# Create Data Frame
most_profitable_items = pd.DataFrame({"Purchase Count": purchase_count_profit,
                                      "Item Price": avg_purchase_profit,
                                      "Total Purchase Value": total_purchase_value_profit})

# Sort the Total Purchase Value column in descending order 
most_profitable = most_profitable_items.sort_values("Total Purchase Value", ascending = False)

# Format Data Frame for currency
most_profitable_items["Total Purchase Value"]  = most_profitable_items["Total Purchase Value"].map("${:,.2f}".format)
most_profitable_items["Item Price"] = most_profitable_items["Item Price"].map("${:.2f}".format)

# Print final Data Frame
most_profitable_items.head()

                            Purchase Count Item Price Total Purchase Value
Item ID Item Name
0       Splinter                         4      $1.28                $5.12
1       Crucifer                         3      $3.26                $9.78
2       Verdict                          6      $2.48               $14.88
3       Phantomlight                     6      $2.49               $14.94
4       Bloodlord's Fetish               5      $1.70                $8.50