### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
# Variable for Total Players is length of list of screen names under column SN
total_players = len(purchase_data["SN"].value_counts())

# Data Frame for total players is created to named player count
player_count = pd.DataFrame({"Total Players":[total_players]})
# Print Data Frame
player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Calculations for Unique Items, Average Price, Number of Purchases, and Total Revenue
number_of_unique_items = len((purchase_data["Item ID"]).value_counts())
average_price = (purchase_data["Price"]).mean()
number_of_purchases = (purchase_data["Purchase ID"]).count()
total_revenue = (purchase_data["Price"]).sum()

# Create Data Frame
summary_df = pd.DataFrame({"Number of Unique Items":[number_of_unique_items],
                           "Average Price":[average_price], 
                           "Number of Purchases": [number_of_purchases], 
                           "Total Revenue": [total_revenue]})

# Format for currency
summary_df.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [24]:
gender_purchase_total=purchase_data.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")
gender_average=purchase_data.groupby(["Gender"]).mean()["Price"].rename("Average Purchase Price")
gender_count=purchase_data.groupby(["Gender"]).count()["Price"].rename("Purchase Count")
normalize_total=gender_purchase_total/gender_demographics["Total Count"]
gender_data=pd.DataFrame({"Purchase Count":gender_count,"Average Purchase Price":gender_average,"Total Purchase Value":gender_purchase_total,"Normalized Totals":normalize_total})
gender_data["Average Purchase Price"]=gender_data["Average Purchase Price"].map("${:,.2f}".format)
gender_data["Total Purchase Value"]=gender_data["Total Purchase Value"].map("${:,.2f}".format)
gender_data["Purchase Count"]=gender_data["Purchase Count"].map("{:,}".format)
gender_data["Avg Total Purchase per Person"]=gender_data["Normalized Totals"].map("${:,.2f}".format)
gender_data=gender_data.loc[:,["Purchase Count","Average Purchase Price","Total Purchase Value","Avg Total Purchase per Person"]]
gender_data
# normalize_total
# gender_purchase_total
# gender_demographics["Total Count"]

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113.0,$3.20,$361.94,$nan
Male,652.0,$3.02,"$1,967.64",$nan
Other / Non-Disclosed,15.0,$3.35,$50.19,$nan
0,nan,$nan,$nan,$nan
1,nan,$nan,$nan,$nan
2,nan,$nan,$nan,$nan

In [6]:
# Group data by Gender and filter out duplicates under variable Gender Stats
gender_stats = purchase_data.drop_duplicates(subset="SN", keep="first")
total_gender = gender_stats["Gender"].value_counts()
gender_demagraphics_percentage=total_gender/player_count
gender_demographics=pd.DataFrame({})
# male = gender_stats["Gender"].value_counts()['Male']
# female = gender_stats["Gender"].value_counts()['Female']
# nongender = gender_stats["Gender"].value_counts()['Other / Non-Disclosed']

# male_percentage = (male / total_gender) * 100
# female_percentage = (female / total_gender) * 100
# non_percentage = (nongender / total_gender) * 100

# # Create new Data Frame
# gender_demographics = pd.DataFrame({"": ['Male', 'Female', 'Other / Non-Disclosed'],
#                             "Total Count": [male, female, nongender],
#                             "Percentage of Players": [male_percentage, female_percentage, non_percentage]})

# # Data Frame formatting
# gender_demographics["Percentage of Players"] = gender_demographics["Percentage of Players"].map("{:.2f}%".format)
# gender_demographics = gender_demographics.set_index('')

# # Print final Data Frame
# gender_demographics


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
# Create new Data Frame
purchase_data_df=pd.DataFrame(purchase_data)
purchase_analysis_gender_df = purchase_data_df.groupby(["Gender"])

# Count by Purchase ID
purchase_analysis_gender_df["Purchase ID"].count().head(10)

# Total Purchase Value calculated by gender and formatted as currency
total_purchase_value = purchase_analysis_gender_df["Price"].sum()
total_purchase_value.head()
total_purchase_value_df = total_purchase_value.map("${:,.2f}".format)
total_purchase_value_df.head()

# Average Purchase Price calculated by gender and formatted as currency
avg_purchase_price = purchase_analysis_gender_df["Price"].mean()
avg_purchase_price.head()
avg_purchase_price_df = avg_purchase_price.map("${:,.2f}".format)
avg_purchase_price_df.head()

# Average Total Purchase per Person calculated by gender and formatted as currency
#note, having issues getting the appropriate amount
avg_total_pp = total_purchase_value/total_gender
avg_total_pp_df = avg_total_pp.map("${:,.2f}".format)
avg_total_pp_df.head()

# Organize summary gender data, get all columns to organized Data Frame, add needed columns to it
org_gender_purchased_data_df = pd.DataFrame(purchase_analysis_gender_df["Purchase ID"].count())
org_gender_purchased_data_df["Average Purchase Price"] = avg_purchase_price_df  
org_gender_purchased_data_df["Total Purchase Value"] = total_purchase_value_df 
org_gender_purchased_data_df["Avg Total Purchase per Person"] = avg_total_pp_df 
org_gender_purchased_data_df

# Summary purchasing analysis DF grouped by gender, rename "Purchase ID" column, using .rename(columns={})
summary_gender_purchased_data_df = org_gender_purchased_data_df.rename(columns={"Purchase ID":"Purchase Count"})
summary_gender_purchased_data_df

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame